@media screen and (max-width:481px){
    .food-menu-name{
        font-size: 32px;
    }

}
@media all and (max-width:420px){
    .food-menu-name{
        font-size:28px;
    }
    .food-menu-qty{
        font-size: 17px;
    }
}
@media all and (max-width:400px){
    .food-menu-name{
        font-size: 26px;
    }
    .food-menu-qty{
        font-size: 16px;
    }
}
@media all and (max-width:380px){
    .food-menu-name{
        font-size: 26px;
    }
    .food-menu-qty{
        font-size: 15px;
    }
}
@media all and (max-width:360px){
    .food-menu-name{
        font-size: 24px;
    }
    .food-menu-qty{
        font-size: 14px;
    }
}
@media all and (max-width:340px){
    .food-menu-name{
        font-size: 22px;
    }
    .food-menu-qty{
        font-size: 13px;
    }

}