@media screen and (max-width:481px){
    .food-menu-name{
        font-size: 25px;
        margin-top: -4px;
    }
    .food-menu-qty{
        font-size: 13px;
    }
    .food-menu-middle{
        margin:38px 5px 5px 0px
    }
    .food-menu-btn{
        margin-top: 37px;
        margin-bottom:4px;
    }
    .food-heart{
        height:25px;
    }
}
@media all and (max-width:460px){
    /* .food-menu-name{
        font-size: 25px;
        margin-top: -4px;
    }
    .food-menu-qty{
        font-size: 13px;
    } */
    .food-menu-middle{
        margin:32px 5px 5px 0px
    }
    .food-menu-btn{
        margin-top: 35px;
        margin-bottom:4px;
    }
}
@media all and (max-width:440px){
    .food-menu-middle{
        margin:33px 5px 5px 0px
    }
    .food-menu-btn{
        margin-top: 27px;
        margin-bottom:4px;
    }
}

@media all and (max-width:420px){
    /* .food-menu-name{
        font-size:29px;
        margin-top: -5px;
    }
    .food-menu-qty{
        font-size: 17px;
    } */
    
    .food-menu-middle{
        margin:26px 5px 5px 0px
    }
    .food-menu-btn{
        margin-top: 26px;
        margin-bottom:4px;
    }
}
@media all and (max-width:400px){
    .food-menu-name{
        font-size: 17px;
        margin-top: -6px;
    }
    .food-menu-qty{
        font-size: 9px;
    }
    
    .food-menu-middle{
        margin:26px 5px 5px 0px
    }
    .food-menu-btn{
        margin-top: 26px;
        margin-bottom:4px;
    }
    .food-heart{
        height:15px;
    }
}
@media all and (max-width:380px){
    /* .food-menu-name{
        font-size: 21px;
        margin-top: -8px;
    }
    .food-menu-qty{
        font-size: 11px;

    } */
    
    .food-menu-middle{
        margin:19px 5px 5px 0px
    }
    .food-menu-btn{
        margin-top: 26px;
        margin-bottom:4px;
    }
}
@media all and (max-width:360px){
    /* .food-menu-name{
        font-size: 19px;
        margin-top:-9px;
    }
    .food-menu-qty{
        font-size: 10px;

    } */
    .food-menu-middle{
        margin:20px 5px 5px 0px
    }
    .food-menu-btn{
        margin-top: 17px;
        margin-bottom:4px;
    }
}
@media all and (max-width:340px){
    /* .food-menu-name{
        font-size: 17px;
        margin-top:-9px;
    }
    .food-menu-qty{
        font-size: 9px;
    } */
    .food-menu-middle{
        margin:14px 5px 5px 0px
    }
    .food-menu-btn{
        margin-top: 16px;
        margin-bottom:4px;
    }

}