.cart-container{
    background:white;
    /* height: 300px; */
    /* width:100%; */
    margin:10px;
    /* border:1px solid black; */
}
.big-container{
    background: white;
}
.cart-circle{
    height: 48px;
width: 48px;
background: #e5f5ee;
margin: 0px 20px 15px 14px;
float  :left;
text-align:center;
padding-top: 4px;
}
.cart-menu-middle{
position: absolute;
    
    left: calc(18vw + 30px);
    bottom: 11px;
    width: calc(50vw - 20px);
    background: #e5f5ee;
    border-radius: 22px;
    padding: 4px 8px 3px 8px;

}
.upcoming-menu-middle{
    position: absolute;
        
        left: calc(18vw + 30px);
        bottom: 9px;
        width: 57%;
        /* background: #e5f5ee; */
        /* border-radius: 22px; */
        /* padding: 4px 8px 3px 8px; */
    
    }
.cart-confirm-btn{
    /* margin-left: calc(38vw + 157px); */
    margin-top: 30px;
    margin-bottom: 5px;
}
.trash-container{
    float:right;
    width:10vw;
    height:calc(22px + 18vw);
    background:#ff5050;
    border-radius: 0px 20px 20px 0px;
    /* text-align: center; */
}
.trash-wrapper{
    height: 15px;
    margin-top: calc(10vw);
    margin-left: calc(5vw - 8px);
}
@media all and (max-width:480px){
    .order-menu-name{
            font-size:20px;
            margin-top:-3px;
    }

}
@media all and (max-width:420px){
    .cart-confirm-btn{
        /* margin-left: calc(38vw + 90px); */
        margin-top: 30px;
        margin-bottom: 5px;
    }   
}

@media all and (max-width:400px){
    .order-menu-name{
        font-size: 17px;
        margin-top:-6px
    }
}