.payment-swipper > .swiper-container{
    height:calc(50vw + 50px)
}
.payment-swipper > .swiper-pagination .customized-swiper-pagination{
    color:black;
    bottom: 0px;
  }

  .payment-swipper > .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0px;
    left: 0;
    width: 100%;
}
.date-picker{
    width:90%;
    margin-left:5%;
    /* opacity:0.6 */
}
.form-control{
    opacity:0.7
}
a:hover{
    text-decoration: none;
    color:"auto"
}

/* .main-container{    
-webkit-overflow-scrolling: touch;
-ms-overflow-style: none;  
scrollbar-width: none;
  }

  .main-container::-webkit-scrollbar {
    width: 0px;  
    background: transparent; 
     
    display: none; 

} */
.Desktop-block{
    display:none
}
@media all and (min-width:481px){
    .payment-modal-container{
        display: none;
    }
    .Desktop-block{
        display:block;
        margin-top: 40vh;
        text-align: center;
        color: red;
    }
}
@media all and (min-width:1000px){
    .payment-modal-container{
        display: none;
    }
    .Desktop-block{
        display:block;
        margin-top: 40vh;
        text-align: center;
        color: red;
    }
}