.customized-swiper-pagination{
  color:black;
  bottom: 10px;
}
.swiper-container{
  height: calc(50vw - 10px);
}
.swiper-pagination-bullet{
  border-radius: 50%;
  /* color: #eee; */
  /* border: 50%; */
  background-color: #b8bcc7;
 
}

.swiper-pagination-bullet-active{
  width:23px;
  border-radius: 10px 10px 10px 10px;
  background-color: #00a852;
}
/* .swipper-card-2{
  padding:0px 2vw 0px 2vw;
}
.swipper-card-1{
  padding:0px 2vw 0px 0px;
}
.swipper-card-3{
  padding:0px 0px 0px 2vw;
} */
.swipper-sty{
  margin-top: 20px;
}
@font-face {
	font-family: 'Anteb-Black';
	src: url('./Icons/Font/Anteb-Black.otf'); 
	
}
@font-face {
	font-family: 'Anteb-Medium';
	src: url('./Icons/Font/Anteb-Medium.otf'); 	
	
}
@font-face {
	font-family: 'Poppins-SemiBold';
	src: url('./Icons/Font/Poppins-SemiBold.ttf'); 	
	
}
.mg-left{
  margin-left: 12px;
}
.dash-text{
  color:#00A852;
  font-size:25px;
  
}

.dash-banner{
  width:498px ;
  height:273px
}


@media screen and (min-width:481px){
  .view-block{
    display: none;
  }
  .desktop-block{
    display: none;
  }
.dashboard-container{
  
  margin:0 10%;
}

.main-container{
  /* display:none; */
  width:540px;
  margin:50px auto 0px auto;
}
.dash-banner{
  width:498px ;
  height:273px
}
.dash-nav{
  width:498px ;
  margin:0px auto 5px auto;
  /* box-shadow: 0 15px 20px   #bfbfbf;  */
  -webkit-box-shadow: 0px 0px 10px -6px rgba(158,158,158,0.26);
/* box-shadow: 0px 0px 10px -6px rgba(158,158,158,0.26); */
box-shadow: 0 0 5px 0 #eee;
background-color: white;
}
.dash-profile{
    height:74px ;
    margin-top: -68px;
    margin-left: -74px;
    margin-right: 62px;
    float:right;
    width:74px;
    background-color:#9BE0B8
}
.flex-container{
  display:flex;
  flex-wrap: wrap;
}
.icon-card{
  background-color:#E5F5EE;
  border:0px;
  width:49% ;
  border-radius:5px;
  height:212px;
  margin:5px 0px 0px 1%
}
}

@media screen and (max-width:480px){

  .desktop-block{
    display: none;
  }
  @media (max-height:1200px){
 
    .view-block{
      display: none;
    }
    
    .dashboard-container{
      margin: 0 10px;
    }
    .navbar{
      margin:0px 1rem 0.5rem 1rem;
    }
    .mg-left{
      margin-left: 12px;
    }
    .dash-nav{
      width:auto;
      margin:0 5% 5px 5%;
      box-shadow: 0 0 5px 0 #eee;
      background-color: white;
    }
    .nav-icon{
      height:2.4rem;
    }
    .dash-banner{
      width:auto;
      height: 22vh;
    }
    .swiper-container{
      height: calc(50vw + 20px);
    }
    .main-container{
      width:auto;
      margin:20px 5% 0px 5%;
    }
    .dash-profile{
      height:54px ;
      margin-top: -52px;
      margin-left: -74px;
      /* margin-right: 62px; */
      float:right;
      width:54px;
      background-color:#9BE0B8
  }
  .flex-container{
    display:flex;
    flex-wrap: wrap;
    margin-top: 12px;
   
    justify-content: center;
  }
  .icon-card{
    background-color:#E5F5EE;
    border:0px;
    width:calc(50% - 6px);
    border-radius:5px;
    /* height:19vh; */
    height: calc(50vw - 30px);
    /* height:calc(50vw - 50px); */
    /* margin:5px 0px 0px 0px; */
  }
    }
    @media (max-height:900px){
      .nav-icon{
        height:2.0rem;
      }
      .nav-p-sty{
          font-size:14px;
      }
      
    }
    @media (max-height:750px){
      .nav-icon{
        height:1.8rem;
      }
      .nav-p-sty{
          font-size:13px;
      }
      .dash-banner{
        width:auto;
        height: 25vh;
      }
      .swiper-container {
        height: calc(50vw + 5px);
    }
      .mg-left{
        margin-left: 7%;
      }
      .icon-card{
        background-color:#E5F5EE;
        border:0px;
        width:calc(45% - 6px);
        border-radius:5px;
        /* height:22vh; */
        height: calc(45vw - 20px);
        /* height: calc(50vw - 50px); */
      }
    }
  @media (max-height:700px){
    .nav-icon{
      height:1.7rem;
    }
    .nav-p-sty{
      font-size:12px;
  }
    .dash-banner{
      width:auto;
      height: 23vh;
    }
    .mg-left{
      margin-left: 7%;
    }
    .icon-card{
      background-color:#E5F5EE;
      border:0px;
      width:calc(45% - 6px);
      border-radius:5px;
      /* height:22vh; */
      height: calc(45vw - 20px);
      /* height: calc(50vw - 50px); */

    }
  }
  @media (max-height:650px){
    .nav-icon{
      height:1.6em;
    }
    .nav-p-sty{
      font-size:11px;
  }
    .dash-text{
      color:#00A852;
      font-size:20px;
      
    }
    .dash-profile{
      height:45px ;
      margin-top: -42px;
      margin-left: -74px;
      /* margin-right: 62px; */
      float:right;
      width:45px;
      background-color:#9BE0B8
  }
  .mg-left{
    margin-left: 10%;
  }
  .icon-card{
    background-color:#E5F5EE;
    border:0px;
    width:calc(45% - 6px);
    border-radius:5px;
    /* height:22vh; */
    height: calc(45vw - 20px);
    /* height: calc(50vw - 50px); */
    /* margin:5px 0px 0px 0px; */
  }
  .dash-banner{
    width:auto;
    /* height: 20vh; */
    height: 30vh
  }
  .swiper-container {
    height: calc(50vw + 5px);
}
  

  }
  @media(max-height:602px){
    .nav-icon{
      height:1.5rem;
    }
    .nav-p-sty{
      font-size:10px;
  }
    .dash-banner{
      width:auto;
      height: 25vh;
    }
    .mg-left{
      margin-left: 10%;
    }
    .icon-card{
      background-color:#E5F5EE;
      border:0px;
      width:calc(45% - 6px);
      border-radius:5px;
      /* height:22vh; */
      height: calc(45vw - 20px);
      /* height: calc(50vw - 50px); */
      /* margin:5px 0px 0px 0px; */
      /* flex-basis: 33%; */
    }
    .dash-text{
      color:#00A852;
      font-size:20px;
      
    }
    .dash-profile{
      height:45px ;
      margin-top: -42px;
      margin-left: -74px;
      /* margin-right: 62px; */
      float:right;
      width:45px;
      background-color:#9BE0B8
  }

  }
  @media(max-height:530px){
    .nav-icon{
      height:1.4rem;
    }
    .nav-p-sty{
      font-size:9px;
  }
  .swiper-container {
    height: calc(50vw);
}
    .dash-banner{
      /* width:calc(100vw - 10px); */
      /* height: 25vh; */
      height :30vh;
      padding:0px 10px 0px 10px
    }
    .mg-left{
      margin-left: 10%;
    }
    .icon-card{
      background-color:#E5F5EE;
      border:0px;
      width:calc(45% - 6px);
      border-radius:5px;
      /* height:18vh; */
      height: calc(40vw - 10px);
      /* height: calc(50vw - 50px); */

      /* flex-basis: 33%; */
      
    }
    .flex-container{
      display:flex;
      flex-wrap: wrap;
      margin-top: 12px;
      /* padding:0 25% 0px 25%; */
      justify-content: center;
    }
    
    .dash-text{
      color:#00A852;
      font-size:18px;
      
    }
    .flex-container{
      display:flex;
      flex-wrap: wrap;
      margin-top: 12px;
     
      justify-content: center;
    }
    .dash-profile{
      height:40px ;
      margin-top: -36px;
      margin-left: -74px;
      /* margin-right: 62px; */
      float:right;
      width:40px;
      background-color:#9BE0B8
  }

  }
  
} 
@media screen and (orientation:landscape) {
  .view-block{
    display: block;
    text-align: center;
    color: red;
    margin:40vh 0px 0px 0px
  }
  .main-container{
    display:none;

  }
  .desktop-block{
    display: none;
  }
 }
 @media screen and (min-width:1024px) {
  .desktop-block{
    display: block;
    text-align: center;
    color: red;
    margin:40vh 0px 0px 0px
  }
  .view-block{
    display: none;
  }
  .main-container{
    display:none;

  }
 }

 @-o-viewport{
  zoom: 1.0;
  width: extend-to-zoom;
 }

 /* 320 568 */
