@font-face {
	font-family: 'Anteb-Black';
	src: url('./Icons/Font/Anteb-Black.otf'); 
	
}
@font-face {
	font-family: 'Anteb-Medium';
	src: url('./Icons/Font/Anteb-Medium.otf'); 	
	
}

.dash-text{
  color:#00A852;
  font-size:25px;
  
}

.dash-banner{
  width:498px ;
  height:273px
}
@media screen and (min-width:641px){
.dashboard-container{
  
  margin:0 10%;
}
.main-container{
  
  width:540px;
  margin:50px auto 0px auto;
}
.dash-banner{
  width:498px ;
  height:273px
}
.dash-nav{
  width:498px ;
  margin:0px auto 10px auto;
}
.dash-profile{
    height:74px ;
    margin-top: -68px;
    margin-left: -74px;
    margin-right: 62px;
    float:right;
    width:74px;
    background-color:#9BE0B8
}
.flex-container{
  display:flex;
  flex-wrap: wrap;
}
.icon-card{
  background-color:#E5F5EE;
  border:0px;
  width:49% ;
  border-radius:5px;
  height:212px;
  margin:5px 0px 0px 1%
}
}
@media screen and (max-width:480px){
  @media (max-height:1200px){
 
    .dashboard-container{
      margin: 0 10px;
    }
    .dash-nav{
      width:auto;
      margin:0 5% 10px 5%;
    }
    .dash-banner{
      width:auto;
      height: 28vh;
    }
    .main-container{
      width:auto;
      margin:30px 5% 0px 5%;
    }
    .dash-profile{
      height:54px ;
      margin-top: -52px;
      margin-left: -74px;
      /* margin-right: 62px; */
      float:right;
      width:54px;
      background-color:#9BE0B8
  }
  .flex-container{
    display:flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  .icon-card{
    background-color:#E5F5EE;
    border:0px;
    width:49%;
    border-radius:5px;
    height:19vh;
    margin:5px 0px 0px 0px;
  }
    }
  @media (max-height:900px){
    .nav-icon{
      height:2.5rem;
    }
  }
  @media (max-height:713px){
    .nav-icon{
      height:2.0em;
    }
    
  }
  @media(max-height:602px){
    .nav-icon{
      height:1.6rem;
    }
    .dash-banner{
      width:auto;
      height: 25vh;
    }
    .icon-card{
      background-color:#E5F5EE;
      border:0px;
      width:49%;
      border-radius:5px;
      height:18vh;
      margin:5px 0px 0px 0px;
    }

  }
  @media(max-height:530px){
    .nav-icon{
      height:1.4rem;
    }
    .dash-banner{
      width:auto;
      height: 25vh;
    }
    .icon-card{
      background-color:#E5F5EE;
      border:0px;
      width:49%;
      border-radius:5px;
      height:18vh;
      margin:5px 0px 0px 0px;
    }

  }
  
} 

 @-o-viewport{
  zoom: 1.0;
  width: extend-to-zoom;
 }

 /* 320 568 */
